body {
	background-color:#fdf6e3;
	z-index: -100000000;
}

h1{
	opacity: 1.0;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom:0;
	font-size: 36pt;
	font-family: "futura-pt-condensed", sans-serif, bold;
	color:#002b36;
	z-index:100000;
}

h2{
	margin-left:550px;
	font-family: "futura-pt-condensed", sans-serif ;
	font-style: italic;
	font-weight: lighter;
	color:#657b83;
	margin-top: -42px;
	font-size: 24pt;

}

h3{
	font-family: "futura-pt-condensed", sans-serif ;
	font-style: bold;
	color:#657b83;
	text-align: center;
	margin-top: 45px;
	font-size: 24pt;
}

p{
	font-family:'Andale Mono', monospace;
	font-size: 14pt;
	color:#657b83;
}

#container{
  width:auto;
  height:auto;
  
}

.logoimg{
	margin-left: -40px;
	margin-top: -100px;
	z-index: 1000000;

}

.hright{
	background-color:#268bd2;
	float: none;
	top:0px;
	margin: auto;
	width:100%;
	z-index:100000;
	height:55px;
	position: absolute;margin-top: 0px;
	margin-bottom:0;
	font-size: 24pt;
	font-family: 'futura-pt-condensed', sans-serif, bold;
	color:#002b36;
	z-index:-100000;
	right:0px;
	text-align: right;
	padding-right: 50px;
	padding-top: 20px;



}

.defbox{
	z-index: -1000000;
	margin-left: 290px;font-size: 36pt;
	font-family: 'futura-pt-condensed', sans-serif, bold;
	color:#657b83;
	margin-top: -215px;
}

.definition{
	margin-left: 300px;
}

#bottomhalf{
	background-color:#eee8d5;
	height:50%;
	width:100%;
	position: absolute;
	bottom: 0;
	z-index: -100000000000;
	left:0;

}

.concept{
	float:left;
	margin-right:30px;
	width:31%;
	position: relative;
}

.conceptdescr{
	margin-left: 60px;
	margin-right: 30px;
}

.process{
	float:left;
	margin-right:30px;
	width:31%;
}

.processdescr{
	margin-top: -175px;
	margin-left: 145px;
}

.code{
	float:left;
	width:31%;
}

.codedescr{
	margin-left: 60px;
}