body {
	background-color:#fdf6e3;
	z-index: -100000000;
}

h1{
	opacity: 1.0;
	margin-left: 2%;
	margin-top: 0px;
	margin-bottom:0;
	font-size: 36pt;
	font-family: 'futura-pt-condensed', sans-serif, extra-bold;
	color:#002b36;
	z-index:100000;
}

h2{
	margin-left:40%;
	font-family: 'futura-pt-condensed', sans-serif ;
	font-style: italic;
	font-weight: lighter;
	color:#657b83;
	margin-top: -42px;
	font-size: 24pt;

}

h3{
	font-family: 'futura-pt-condensed', sans-serif ;
	font-style: extra-bold;
	color:#657b83;
	text-align: center;
	margin-top: 45px;
	font-size: 24pt;
}

h4{
	font-family: 'futura-pt-condensed', sans-serif ;
	font-style: bold;
	color:#268bd2;
	text-align: center;
	font-size: 24pt;
}

h5{
	font-family: 'futura-pt-condensed', sans-serif;
	font-size: 14pt;
	font-style: extra-bold;
	color: #657b83;
}

p{
	font-family:'Andale Mono', monospace;
	font-size: 14pt;
	color:#657b83;
}

#container{
  width:auto;
  height:auto;
  
}

.logoimg{
	margin-left: -40px;
	margin-top: -100px;
	z-index: 1000000;

}

.hright{
	background-color:#268bd2;
	float: none;
	top:0px;
	margin: auto;
	width:100%;
	z-index:100000;
	height:55px;
	position: absolute;margin-top: 0px;
	margin-bottom:0;
	font-size: 24pt;
	font-family: 'futura-pt-condensed', sans-serif, bold;
	color:#002b36;
	z-index:-100000;
	right:0px;
	text-align: right;
	padding-right: 50px;
	padding-top: 20px;



}

.defbox{
	z-index: -1000000;
	margin-left: 20%;font-size: 36pt;
	font-family: 'futura-pt-condensed', sans-serif, bold;
	color:#657b83;
	margin-top: -15%;
}

.definition{
	margin-left: 20%;
}

#bottomhalf{
	background-color:#eee8d5;
	height:50%;
	width:100%;
	position: absolute;
	bottom: 0;
	z-index: -100000000000;
	left:0;

}

.concept{
	float:left;
	margin-right: 2%;
	width:31%;
	position: relative;
}

#conceptcircle{
	margin-left: 27%;
}

.process{
	float:left;
	margin-right:2%;
	width:31%;
}

#processcircle{
	margin-left: 27%;
}

.code{
	float:left;
	width:31%;
}

#codecircle{
	margin-left: 28%;
}

.conceptbody{
	width:30%;
	margin-left: 20%;
	margin-top: -14%;
}

.pipe{
	float: right;
	margin-top: -350px;
	padding-right: 200px;
}

.codepic{
	float: right;
	margin-top: -225px;
	padding-right: 200px;
}

.nextbutton{
  width:50%;
  margin-top: 60px;
  margin-left: 550px;
  top: 0; left: 0; bottom: 0; right: 0;
}

.quote{
	float:right;
	width:40%;
	margin-top: -20%;
	padding-right: 60px;
}

#nextstep{
	background-color:#eee8d5;
	z-index: 100000000;
}

#working{
	background-color: #eee8d5;
	z-index: 100000000;
	padding: 30px;
	right: 0;
	left:0;
}

.caption{
	width: 70%;
	display: inline-block;
	float: right;
	padding-right: 50px;
	margin-top: -220px;


}

.evolutionimg{
	margin-left: 2%;
	margin-top: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	width:500px;
	height: 230px;
	position: relative;
	

}

.evolution{
	width:30%;
	text-align: right;
	right:0px;
	margin-left:65%;
	padding-bottom: 200px;
	margin-top: -200px;
}

#furtherexplore{
	background-color: #fdf6e3;
	z-index: 100000000;
	height: auto;
}

.explore{
	width:30%;
	margin-left: 20%;
	margin-top: -15%;
	padding-bottom: 80px;
}

.exploreimg{
	margin-left: 55%;
	margin-top: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	width:500px;
	height: 230px;
	position: relative;
}

#textandcolor{
	background-color: #eee8d5;
	height:auto;

}

.colorexp{
	width:30%;
	text-align: right;
	right:0px;
	margin-left:65%;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-top: -19%;
	
}

.colorexpimg{
	margin-left: 15%;
	margin-top: 2%;
	padding-top: 20px;
	padding-bottom: 20px;
	width:500px;
	height: 230px;
	position: relative;
}

#layouts{
	background-color: #fdf6e3;
	z-index: 100000000;
	height: auto;
}

.websitelayout{
	margin-left: 5%;
	padding-top: 20px;
	padding-bottom: 10px;

}

.applayout{
	margin-right: 5%;
	margin-top:-29%;
	text-align: right;

}

#final{
	background-color: #eee8d5; 
	height:auto;
}

.finalexpl{
	width:30%;
	margin-left: 20%;
	padding-top: 20px;
	padding-bottom: 80px;
	margin-top: -15%;
}

.appfinal{
	margin-left: 55%;
	margin-top: 5%;
	padding-top: 20px;
	padding-bottom: 20px;
	width:500px;
	height: 230px;
	position: relative;
}
